<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Travel Journal</title>
        <meta name="viewport" content="width=device-width">
        <!-- <script type="text/javascript" src="../../dist/main.js"></script> -->
    </head>
    <body>

        <!-- LANDING PAGE -->
        <div id="bg-image">
            <div id="search-input">
                <h2>Where’s your next adventure?</h2>
                <form>
                    <div id="form-country">
                        <img src="../client/img/icn_location.png" class="searchIcon">
                        <input type="text" placeholder="Country" id="country-field"></input>
                    </div>
                    <div id="form-depart">
                        <img src="../client/img/icn_flight-depart.png" class="searchIcon">
                        <input type="date" id="startDate" placeholder="From"></input>
                    </div>
                    <div id="form-arrive">
                        <img src="../client/img/icn_flight-arrive.png" class="searchIcon">
                        <input type="date" id="endDate" placeholder="To"></input>
                    </div>
                    <div id="form-button">
                        <input type="submit" id="fetch-button" value="Enter">
                    </div>
                </form>
            </div>
        </div>

    <!-- RESULTS PAGE -->
    <!-- <div id="result-image">
        <div id="results-and-button">
            <div id="result-card">
                <h1>${data.city}</h1>
                <div id="stats-primary">
                    <div class="stat"><img class="stats-icon" src="../client/img/icn_flight-depart-black.png"> Trip starts in <b>${daysTillTripStart}</b> days</div>
                    <div class="stat-divider">·</div>
                    <div class="stat"><img class="stats-icon" src="../client/img/icn_weather-black.png"> Weather temperature is <b>${data.temperature}</b></div>
                </div>
                <div id="stats-secondary">
                    <div>
                        <p class="subtitle">Departure date</p>
                        <p>${startDate}</p>
                    </div>
                    <div>
                        <p class="subtitle">Arrival date</p>
                        <p>${endDate}</p>
                    </div>
                    <div>
                        <p class="subtitle">Length of trip</p>
                        <p>${lengthOfTrip} days</p>
                    </div>
                </div>
            </div>
            <input type="submit" id="check-button" value="Check another trip">
        </div>
    </div> -->

    </body>
</html>